RentApp/RentApp/Connected Services/InventoryReference/InventoryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFLibrary.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFLibrary.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModel_Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model_Inventory" nillable="true" type="tns:Model_Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel_Inventory" nillable="true" type="tns:ArrayOfModel_Inventory" />
  <xs:complexType name="Model_Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Inventory_id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type_id" type="xs:int" />
      <xs:element minOccurs="0" name="Type_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model_Inventory" nillable="true" type="tns:Model_Inventory" />
  <xs:complexType name="ArrayOfModel_Cart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model_Cart" nillable="true" type="tns:Model_Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel_Cart" nillable="true" type="tns:ArrayOfModel_Cart" />
  <xs:complexType name="Model_Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="Inventory_id" type="xs:int" />
      <xs:element minOccurs="0" name="Loyaltypoint" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price_cur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type_id" type="xs:int" />
      <xs:element minOccurs="0" name="Type_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model_Cart" nillable="true" type="tns:Model_Cart" />
  <xs:complexType name="Model_Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model_Order" nillable="true" type="tns:Model_Order" />
  <xs:complexType name="Model_AddToCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Inventory_id" type="xs:int" />
      <xs:element minOccurs="0" name="Numdays" type="xs:int" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model_AddToCart" nillable="true" type="tns:Model_AddToCart" />
  <xs:complexType name="Bondora_Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date_order" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Order_id" type="xs:int" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bondora_Order" nillable="true" type="tns:Bondora_Order" />
  <xs:complexType name="Bondora_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bondora_Customer" nillable="true" type="tns:Bondora_Customer" />
</xs:schema>