RentApp/RentApp/Connected Services/InventoryReference/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50590/InventoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50590/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50590/InventoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:50590/InventoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EFLibrary.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateCart_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCart" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_AddCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCart" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_AddCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCartResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetAll" message="tns:IInventoryService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetAllResponse" message="tns:IInventoryService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetCart" message="tns:IInventoryService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetCartResponse" message="tns:IInventoryService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/UpdateCart" message="tns:IInventoryService_UpdateCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/UpdateCartResponse" message="tns:IInventoryService_UpdateCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/AddCart" message="tns:IInventoryService_AddCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/AddCartResponse" message="tns:IInventoryService_AddCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetOrders" message="tns:IInventoryService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetOrdersResponse" message="tns:IInventoryService_GetOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryService" type="tns:IInventoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/UpdateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCart">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/AddCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_IInventoryService" binding="tns:BasicHttpBinding_IInventoryService">
      <soap:address location="http://localhost:50590/InventoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>